<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel"> {{ drink.name }} </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <form class="card-form">
    <div class="input">
        <input type="text" class="input-field" id="itemName" name="itemName" value="{{drink.name}}" required/>
      <label class="input-label">Item name</label>
    </div>
    <div class="input">
        <input type="text" class="input-field" id="ingredients" name="ingredients" value="{{drink.ingredients}}" required>
      <label class="input-label">Ingredients</label>
    </div>
    <div class="input">
        <input type="text" class="input-field" id="description" name="description" value="{{drink.description}}" required>
      <label class="input-label">Description</label>
    </div>
    <div class="input">
        <input type="number" class="input-field" [min]="0" id="price" name="price" value="{{drink.price.value}}" required>
      <label class="input-label">Price</label>
    </div>
  </form>
</div>
<div class="modal-footer justify-content-between">
  <button type="button" class="btn btn-danger" (click)="deleteItem()">Delete</button>
  <button type="submit" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
</div>