@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


body {
background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;
  
}

#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 200px;
	width: 250px;
  
}

.name {
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 24px;
	color: #666666;
	margin: 10px 0px -5px 0px;
}

.note {
	padding: 1rem 1rem;
	text-align: center;
	margin: 0px 0px -2px 0px;
	font-size: .875rem;
	color: #8597a3;
}