<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel"> Change password </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <form class="card-form">
    <div class="input">
        <input type="text" class="input-field" id="password1" name="password1" required/>
      <label class="input-label">New password</label>
    </div>
    <div class="input">
        <input type="text" class="input-field" id="password2" name="password2" required>
      <label class="input-label">Confirm password</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="submit" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
</div>