<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Novi korisnik</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <form class="card-form">
    <div class="input">
      <input
        type="text"
        class="input-field"
        id="username"
        name="username"
        required
      />
      <label class="input-label">Korisnicko ime</label>
    </div>

    <div class="input">
      <input type="text" class="input-field" id="name" name="name" required />
      <label class="input-label">Ime</label>
    </div>

    <div class="input">
      <input
        type="text"
        class="input-field"
        id="lastName"
        name="lastName"
        required
      />
      <label class="input-label">Prezime</label>
    </div>

    <div class="input">
      <input
        type="text"
        class="input-field"
        id="emailAddress"
        name="emailAddress"
        required
      />
      <label class="input-label">Email</label>
    </div>

    <div class="input">
      <input
        type="text"
        class="input-field"
        name="salary"
        id="salary"
        required
      />
      <label class="input-label">Plata</label>
    </div>

    <div class="input">
      <input type="text" class="input-field" name="role" id="role" required />
      <label class="input-label">Uloga</label>
    </div>

    <div class="input">
      <input
        type="password"
        class="input-field"
        name="password"
        id="password"
        required
      />
      <label class="input-label">Lozinka</label>
    </div>

    <div class="input">
      <input
        type="password"
        class="input-field"
        name="password2"
        id="password2"
        required
      />
      <label class="input-label">Lozinka</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="submit" class="btn btn-primary" (click)="saveChanges()">
    Save changes
  </button>
</div>
