.drag {
    cursor: move;
}

.btn-danger {
    width: 10%;
    float: right;
}

.btn-success {
    margin-right:30px;
    float: right;
    width: 10%;
}

.image {
    position: relative;
}

.spanIdSquare {
    position: absolute;
    right: 90px;
    top: 20px;
}

.spanIdRound {
    position: absolute;
    right: 80px;
    top: 30px;
}


.spanIdBar {
    position: absolute;
    right: 50px;
    top: -10px;
}
