<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand" href="#">Royal</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="waiter/newOrder">New order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="nav-link" href="waiter/profile" style="color:black;">My profile</a>
          <button class="btn btn-outline-dark" type="submit" (click)="logout()">Log out</button>
        </form>
      </div>
    </div>
  </nav>