<div id="modal-content-wrapper" class="d-flex justify-content-center mb-3">
  <form>
    <h1 class="a11y-hidden">Login Form</h1>
    <div>
      <label>
        <input
          type="text"
          class="text"
          name="username"
          placeholder="Korisnicko ime"
          tabindex="1"
          [(ngModel)]="_username"
          required
        />
        <span class="required">Korisnicko ime</span>
      </label>
    </div>
    <div>
      <label>
        <input
          type="text"
          class="text"
          name="name"
          placeholder="Ime"
          tabindex="1"
          [(ngModel)]="_name"
          required
        />
        <span class="required">Ime</span>
      </label>
    </div>
    <div>
      <label>
        <input
          type="text"
          class="text"
          name="surname"
          placeholder="Prezime"
          tabindex="1"
          [(ngModel)]="_surname"
          required
        />
        <span class="required">Prezime</span>
      </label>
    </div>
    <div>
      <label class="label-email">
        <input
          type="email"
          class="text"
          name="email"
          placeholder="Email"
          tabindex="1"
          [(ngModel)]="_email"
          required
        />
        <span class="required">Email</span>
      </label>
    </div>

    <div>
      <label class="label-password">
        <input
          type="text"
          class="text"
          name="password"
          placeholder="Lozinka"
          tabindex="2"
          [(ngModel)]="_password"
          required
        />
        <span class="required">Lozinka</span>
      </label>
    </div>

    <div>
      <label class="label-password">
        <input
          type="text"
          class="text"
          name="password"
          placeholder="Lozinka"
          tabindex="2"
          [(ngModel)]="_password2"
          required
        />
        <span class="required"> Ponovi lozinka</span>
      </label>
    </div>

    <div>
      <label>
        <input
          type="text"
          class="text"
          name="salary"
          placeholder="Plata"
          tabindex="1"
          [(ngModel)]="_salary"
          required
        />
        <span class="required">Plata</span>
      </label>
    </div>
    <div>
      <label>
        <input
          type="text"
          class="text"
          name="role"
          placeholder="Uloga"
          tabindex="1"
          [(ngModel)]="_role"
          required
        />
        <span class="required">Uloga</span>
      </label>
    </div>

    <input type="submit" value="Potvrdi" (click)="PotvrdiClick()" />

    <figure aria-hidden="true">
      <div class="person-body"></div>
      <div class="neck skin"></div>
      <div class="head skin">
        <div class="eyes"></div>
        <div class="mouth"></div>
      </div>
      <div class="hair"></div>
      <div class="ears"></div>
      <div class="shirt-1"></div>
      <div class="shirt-2"></div>
    </figure>
  </form>
</div>
