.image {
    position: relative;
}

.spanIdSquare {
    position: absolute;
    right: 90px;
    top: 20px;
}

.spanBtnSquare {
    position: absolute;
    right: 140px;
    top: 70px;
}

.spanIdRound {
    position: absolute;
    right: 80px;
    top: 30px;
}

.spanBtnRound {
    position: absolute;
    right: 150px;
    top: 95px;
}

.spanIdBar {
    position: absolute;
    right: 50px;
    top: -10px;
}

.spanBtnBar {
    position: absolute;
    right: 60px;
    top: 30px;
}