// @import compass;

$color-chip: linear-gradient(90deg, #D0A963, #FFE6BA);
$color-card--white: linear-gradient(45deg, #FFF, #CDCDCD);
$color-card--blue: linear-gradient(45deg, #748DFB, #3859E8);
$color-card--dark: linear-gradient(45deg, #616161, #484848);

$bubble-d: 4rem;
$bubble-r: .5*$bubble-d;
$sparkle-d: .375rem;
$sparkle-r: .5*$sparkle-d;

@mixin sparkles($k) {
	$shadow-list: ();
	$n-groups: 7;
	$group-base-angle: 360deg/$n-groups;
	$group-distr-r: (1 + $k*.25)*$bubble-r;
	$n-sparkles: 2;
	$sparkle-base-angle: 360deg/$n-sparkles;
	$sparkle-off-angle: 60deg; // offset angle from radius
	$spread-r: -$k*$sparkle-r;
}

@mixin bubble($ext) {
	transform: scale(1);
	border-color: #545461;
	border-width: $ext;
}

html,
body {
  font-family: 'Muli', sans-serif;
  background-color: #272936;
  color: #A6A8B6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

[type="radio"] {
  z-index: -1;
  position: absolute;
  opacity: 0;
  
  &:checked ~ label {
    border-color: #4062F6;
    background-color: rgba(#619AEA, 0.16);
    color: blue;
		
		&:before {
			will-change: transform, border-width, border-color;
      animation: bubble 1s ease-in;
		}
    
    &:after {
			will-change: opacity, box-shadow;
			animation: sparkles 700ms ease-in-out;
		}
    
    > span {
      will-change: transform;
      border: 0;
      background-image: linear-gradient(to top right, #6E89FF, #4363EE);
      animation: radio 400ms cubic-bezier(.17, .89, .32, 1.49);
      
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: #fff;
      }
    }
    
    .card {
      will-change: box-shadow;
      animation: card 500ms ease-in-out forwards;
      
      &:after {
        will-change: transform;
        animation: shine 500ms ease-in forwards;
        animation-delay: 100ms;
      }
    }
  }
}

label {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 20px auto 100px;
  grid-gap: 20px;
  width: 320px;
  height: 62px;
  padding: 0 20px;
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: transparent;
  transition: all 300ms ease-in;
  
  &:hover {
    border-color: #4062F6;
    background-color: rgba(#619AEA, 0.16);
  }
  
  &:before,
  &:after {
		position: absolute;
    left: 29px;
		border-radius: 50%;
		content: '';
	}
  
  &:before {
		margin: -$bubble-r;
		border: solid $bubble-r #545461;
		width: $bubble-d;
    height: $bubble-d;
		transform: scale(0);
	}
  
  &:after {
		margin: -$sparkle-r;
		width: $sparkle-d;
    height: $sparkle-d;
		@include sparkles(1);
	}
  
  > span {
    position: relative;
    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #454861;
    background-image: linear-gradient(to bottom, #3B4059, #1C1E2D);
  }
}

.option:not(:last-child) {
  margin-bottom: 4px;
}

@keyframes radio {
	0%, 17.5% { transform: scale(0); }
}

@keyframes card {
  0% { box-shadow: 0 1px 0 0 rgba(#fff, 0.25); transform: scale(0.24) }
  45% { box-shadow: 0 12px 32px 0 rgba(#000, 0.5); transform: scale(0.25) }
  100% { box-shadow: 0 4px 12px 0 rgba(#000, 0.4); transform: scale(0.24) }
}

@keyframes shine {
  from { transform: translateX(-70px) rotate(10deg); }
  to { transform: translateX(300px) rotate(10deg); }
}

@keyframes bubble {
	15% { @include bubble($bubble-r); }
	30%, 100% { @include bubble(0); }
}

@keyframes sparkles {
	0%, 10% { opacity: 0; transform: scale(0); }
	15% {
		opacity: 1;
    transform: scale(1.2) rotate(-20deg);
		@include sparkles(0);
	}
}