<h2>{{setRoleForTitle()}} profile</h2>
<br>
<form [formGroup]="form" (ngSubmit)="storeChanges()">
<div class="container d-flex">
<div class="container">
    <div class="row">
        <div class="col">
            <p>Name</p>
        </div>
        <div class="col">
            <input type="text" [value]="user.name" formControlName="name"><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Last name</p>
        </div>
        <div class="col">
            <input type="text" [value]="user.lastName" formControlName="lastName"><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>E-mail</p>
        </div>
        <div class="col">
            <input type="text" [value]="user.emailAddress" formControlName="email"><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Username</p>
        </div>
        <div class="col">
            <input type="text" [value]="user.username" formControlName="username"><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Salary</p>
        </div>
        <div class="col">
            <input type="number" [value]="user.salary" [min]="0" [disabled]="true">
        </div>
    </div>
    <div class="row">
        <div class="col">
          
        </div>
        <div class="col">
            <button type="submit" class="btn btn-success" >Store changes</button>
        </div>
    </div>
  </div>

  <img src="../../../../assets/images/user-icon.png" style="width: 200px; height: 200px;">
</div>
</form>