<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-1"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
              <span class="font-weight-bold">{{user.dtype}}</span>
              <span class="text-black-50">{{user.username}}</span>
              <span class="text-black-50">Salary: {{user.salary}}</span>
              <span> </span>
          </div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right"></h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" id="name" name="name" value="{{user.name}}" required/></div>
                  <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" id="lastName" name="lastName" value="{{user.lastName}}" required/></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">Email address</label><input type="text" class="form-control" id="emailAddress" name="emailAddress" value="{{user.emailAddress}}" required/></div>
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary" type="button" (click)="saveChanges()">Save changes</button></div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center experience">
                  <span></span>
                  <button type="button" class="btn btn-outline-primary">Change password</button>
              </div>
          </div>
      </div>
  </div>
</div>