<div id="modal-content-wrapper" class="d-flex justify-content-center mb-3">
  <form>
    <h1 class="a11y-hidden">Login Form</h1>
    <div>
      <label>
        <input
          type="text"
          class="text"
          name="Username"
          placeholder="Korisnicko ime"
          tabindex="1"
          required
        />
        <span class="required">Korisnicko ime</span>
      </label>
    </div>
    <div>
      <label>
        <input
          type="text"
          class="text"
          name="Name"
          placeholder="Ime"
          tabindex="1"
          required
        />
        <span class="required">Ime</span>
      </label>
    </div>
    <div>
      <label>
        <input
          type="text"
          class="text"
          name="Surname"
          placeholder="Prezime"
          tabindex="1"
          required
        />
        <span class="required">Prezime</span>
      </label>
    </div>
    <div>
      <label class="label-email">
        <input
          type="email"
          class="text"
          name="Email"
          placeholder="Email"
          tabindex="1"
          required
        />
        <span class="required">Email</span>
      </label>
    </div>

    <div>
      <label class="label-email">
        <input
          type="text"
          class="text"
          name="Salary"
          placeholder="Plata"
          tabindex="1"
          required
        />
        <span class="required">Plata</span>
      </label>
    </div>

    <input type="submit" value="Potvrdi" />

    <figure aria-hidden="true">
      <div class="person-body"></div>
      <div class="neck skin"></div>
      <div class="head skin">
        <div class="eyes"></div>
        <div class="mouth"></div>
      </div>
      <div class="hair"></div>
      <div class="ears"></div>
      <div class="shirt-1"></div>
      <div class="shirt-2"></div>
    </figure>
  </form>
</div>
