<body class="align">

  <div class="grid align__item">

    <div class="register">

      <img src="../../../assets/images/logo.png" class="img-fluid mx-auto d-block" style="max-width: 300px;">
      <br><br><br><br>

      <form action="" method="post" class="form">

        <div class="input">
          <input type="text" class="input-field" id="username" name="username" required/>
        <label class="input-label">Username</label>
      </div>
      <div class="input">
        <input type="text" class="input-field" id="password" name="password" required/>
      <label class="input-label">Password</label>
    </div>
        <br><br><br>
        <div class="form__field">
          <button class="submit" (click)="submit()">Log in</button>
        </div>

      </form>
    </div>

  </div>

</body>