<div class="container d-flex justify-content-center">
   
    <form (ngSubmit)="submit()" [formGroup]="formdata">
        <br>
        <div class="row mb-3">
            <img src="../../../assets/images/logo.png" class="img-fluid mx-auto d-block" style="max-width: 300px;">
        </div><br>

    <h2 class="container d-flex justify-content-center mb-3">Login</h2>
    
    <div class="row mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username">
      </div>
      <div class="row mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
      <div class="d-flex justify-content-center mb-3">
        <button type="submit" class="btn btn-dark btn-md">Log in</button>
      </div>
    </form>
</div>