<div class="search-container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-search"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
    />
  </svg>
  <input
    type="text"
    name="search"
    [(ngModel)]="term"
    class="search-input"
    placeholder="Search drinks..."
  />
</div>
<div class="row card-group">
  <div class="col-3" *ngFor="let drink of drinks | filter: term">
    <div id="container">
      <div class="product-details">
        <button
          type="button"
          class="btn btn-success"
          (click)="order(drink)"
          id="orderButton"
          *ngIf="currentRole === 'Waiter'"
        >
          ORDER
        </button>
        <h1>{{ drink.name }}</h1>
        <p class="information">{{ drink.description }}</p>
        <div class="control">
          <p class="price">{{ drink.price.value }} din</p>
        </div>
      </div>

      <div id="productImage" class="product-image">
        <img src="{{ drink.image }}" alt="" />
        <div class="info">
          <h2>More information</h2>
          <ul>
            <li><strong>Ingredients : </strong> {{ drink.ingredients }}</li>
            <li>
              <strong>Preparation time : </strong> {{ drink.preparationTime }}
            </li>
          </ul>
          <button
            type="button"
            id="editDrink"
            class="btn-edit"
            (click)="openModal(drink)"
            *ngIf="currentRole === 'Manager'"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
